.chose{

-fx-background-color: #F5CB5C;
-fx-background-radius: 10px;
}

.button {
-fx-background-color: #F5CB5C;
-fx-background-radius: 10px;
}

.table-view .column-header{
-fx-background-color:#F5CB5C;
}
.table{
-fx-background-color: #CFDBD5;
}